@model List<Project3_Morton.Models.State>
@{
    ViewBag.Title = "All";
}

<h2>All States</h2>

<a href="/State/Upsert/0">Add New</a>

<div class="row">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-info" value="Search" onclick="Sortable.Search()" />

    </div>
</div>

<table class="sortable table table-hover">
    <thead>
        <tr>
            <th onclick="Sortable.Sort(0)">State Code</th>
            <th onclick="Sortable.Sort(1)">State Name</th>
            
            <th>Actions</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var states in Model)
        {
            <tr>
                <td>@states.StateCode</td>
                <td>@states.StateName</td>
                

                <td>
                    <a href="/state/Upsert/@states.StateCode">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>