@model List<Project3_Morton.Models.Product>
@{
    ViewBag.Title = "All";
}

<h2>All Products</h2>

<a href="/Product/Upsert/0">Add New</a>

<div class="row">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-info" value="Search" onclick="Sortable.Search()" />

    </div>
</div>

<table class="sortable table table-hover">
    <thead>
        <tr>
            <th onclick="Sortable.Sort(0)">Product Code</th>
            <th onclick="Sortable.Sort(1)">Description</th>
            <th onclick="Sortable.Sort(2)">OnHand Quantity</th>
            <th onclick="Sortable.Sort(3)">UnitPrice</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var products in Model)
        {
            <tr>
                <td>@products.ProductCode</td>
                <td>@products.Description</td>
                <td>@products.OnHandQuantity</td>
                <td>@products.UnitPrice</td>

                <td>
                    <a href="/Product/Upsert/@products.ProductCode">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
